<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @movie.sd %>
</p>

<p>
  <strong>Hd:</strong>
  <%= @movie.hd %>
</p>

<p>
  <strong>Threed:</strong>
  <%= @movie.threed %>
</p>

<p>
  <strong>Digital:</strong>
  <%= @movie.digital %>
</p>

<p>
  <strong>Watched:</strong>
  <%= @movie.watched %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
